<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Sistema</title>
    <!-- Favicon-->
    <link rel="icon" type="public/image/png" href="imagenes/logo.png">
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="public/css/bootstrap.min.css" rel="stylesheet" />
    <link href="public/css/sidebar.css" rel="stylesheet" />
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end border-right bg-light" id="sidebar-wrapper">
        <div class="sidebar-heading border-bottom bg-light"><a href="/home">Home</a></div>
        <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light" href="#!">Administración Web</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light" href="#!">Generar factura</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-3 bg-light border-bottom" href="#!">Reportes de gestión </a>
        </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
        <!-- Top navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="sidebarToggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">




                </ul>

                <a href="/mvc-gaucho-rocket/cerrarSesion"><button class="btn btn-light" style="border:none;">
                    Cerrar sesión
                    <!--<i class="material-icons">logout</i>-->
                </button></a>
            </div>
        </nav>