<FilesMatch ".*\.(log|ini|htaccess)$">
   deny from all
</FilesMatch>

Options -Indexes
DirectoryIndex index.php
RewriteEngine On
RewriteBase /mvc-gaucho-rocket
FallbackResource "index.php"


RewriteRule ^(public)($|/) - [L,NC]
RewriteRule ^(.*)/(.*)/(.*)$ index.php?module=$1&action=$2&$3 [L,QSA]
RewriteRule ^(.*)/(.*)$ index.php?module=$1&action=$2 [L,QSA]
RewriteRule ^(.*)$ index.php?module=$1 [L,QSA]
RewriteRule ^(.*)$ index.php?module=$1&action=execute [L,QSA]
