 
<br><br><br><br><br>
<div class="container">

         <h2>Reporte Por Cliente </h2>
         
         
   <table>
	

              
         	     {{#resultadoCLiente}}

                  <tr>                 
        <th>
		<label>Nombre:</label>
		{{nombre}}<br>
		
				<label>Apellido:</label>
        {{apellido}}<br>
				<label>Email:</label>

        {{email}}<br>
				<label>Importe gastado:</label>

        ${{valor}}</th>
		    </tr>
 		 {{/resultadoCLiente}}  

     
    </table>
   
</div>
 


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 