 
<br><br><br><br><br>
<div class="container">

         <h2>Reporte de Cabina Mas Vendida </h2>
         
         
        <table>
	

                  <tr>
                <th>Cabina Mas Vendida </th> <th>Cantidad </th>
                 
                        </tr>
         	     {{#resultadoCabina}}

                  <tr>                 
        <th>({{Cabina_mas_Vendida}})</th> <th>({{CANTIDAD}})</th>
		    </tr>
 		 {{/resultadoCabina}}  

     
    </table>
   
</div>
 


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 