
{{>headerSistema}}
<br><br><br><br><br>
<div class="container">
    <div class="alert alert-success" role="alert">
        <strong></strong> Panel de control   
    </div>
    <br><br>
<div class="container">
<p>
    <a href="/mvc-gaucho-rocket/reporteMensual"><button type="button" class="btn btn-outline-secondary">Facturacion Mensual </button></a>

</p>

<p>
    <a href="/mvc-gaucho-rocket/reporteCabinaMasVendida"><button type="button" class="btn btn-outline-secondary">Cabina Mas Vendida</button></a>

</p>

    <a href="/mvc-gaucho-rocket/reporteFacturacionPorcliente"><button type="button" class="btn btn-outline-secondary">Facturacion por Cliente</button></a>


    <br><br><br><br><br>
</div>
</div>
    {{>footer}}

