{{>headerSistema}}
<br><br><br><br><br>
<div class="container">

         <h2>Reporte de Facturacion Mensual </h2>

        <table>
            {{#resultadoFecha}}
            <tr>
                <th>Facturacion Mensual</th>

                </tr>
                
        <th>($ {{Facturacion_Mensual}})</th>
                {{/resultadoFecha}}  
        <tr>
      
        </tr>

    </table>
</div>

 

<a href="/mvc-gaucho-rocket/reporteMensual/pdf?fecha1={{fecha1}}&&fecha2={{fecha2}}" target="_blank" class="btn btn-success"> Descargar PDF</a>


<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}
