{{>headerSistema}}
<br><br><br><br><br>
         	     {{#resultadoCLiente}}

<div class="container" style=" margin-left:5em;">

         <h2>Reporte de  Usuario</h2>
         
         
        <table>
	

              

                  <tr>                 
        <th>
		<label>Nombre:</label>
		{{nombre}}<br>
		
				<label>Apellido:</label>
        {{apellido}}<br>
				<label>Email:</label>

        {{email}}<br>
				<label>Importe gastado:</label>

        ${{valor}}</th>
		    </tr>
 

     
    </table>
   <br>
<p>
<a href="/mvc-gaucho-rocket/reporteMensual/resultadoClientePdf?id_usuario={{id_usuario}}" target="_blank" class="btn btn-success"> Descargar PDF</a>
</p>
</div>

 		 {{/resultadoCLiente}} 
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}
