
{{>header}}
<br><br><br><br><br>
<div class="container">


        {{#mensaje}} 
		    <div class="alert alert-success" role="alert">
 <p>{{mensaje}}</p>
		    </div>
        {{/mensaje}}
		
		
		
    <div class="alert alert-success" role="alert">
        <strong></strong> Resultado chequeo medico
    </div>
    <br><br>
<div class="container">
  
 <h1>Resultado chequeo medico:
 {{#resultado}}Nivel:  {{nivel}}        {{/resultado}}</h1>
 

 
 

</div> 
</div><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
{{>footer}}
